#servlet
server:
  port: 8080
  servlet:
    context-path: /v2

spring:
  datasource:
    url: jdbc:postgresql://192.168.216.191:5432/salesystem
    username: postgres
    password: 1234
    driver-class-name: org.postgresql.Driver

  jpa:
    open-in-view: false
#    properties:
#      jakarta:
#        persistence:
#          schema-generation:
#            create-source: metadata
#            scripts:
#              action: create
#              create-target: src/main/resources/scripts/create.sql
#      hibernate:
#        default_schema: tenant_shema_default
    show-sql: true
    hibernate:
      ddl-auto: none